polkit.addRule(function(action, subject) {
    if (
         (  action.id == 'org.freedesktop.udisks2.filesystem-mount'
         || action.id == 'org.freedesktop.udisks2.eject-media'
         )
         && subject.isInGroup("storage")
       )
    {
        return polkit.Result.YES;
    }
});
